body {
  min-height: 2000px;
  padding-top: 70px;
}

#acc, #prop, #view {
  background: #fff;
  border:1px solid #d4d2d0;
  border-radius: 4px;
  box-sizing: border-box;
  font: inherit;
  height: 2.42857em; /* 34px @ 14px body font */
  line-height: 1.42857em; /* 20px @ 14px body font */
  padding: 0.42857em; /* 6px @ 14px body font */
  -webkit-transition:border-color .2s cubic-bezier(.4,0,.2,1);
  transition:border-color .2s cubic-bezier(.4,0,.2,1);
}

/*label {*/
  /*font-size: large;*/
/*}*/

.ga-checklist p{
  font-size: medium;
}
